"*":
  "exception-reporting":
    userId: "be731577-5831-078d-1004-2f9f28b6f43d"
  welcome:
    showOnStartup: false
  metrics:
    userId: "bb0dc28005fb552094e26c57366afedcda6c2986"
  core:
    disabledPackages: [
      "linter-pep8"
      "linter-php"
    ]
  editor:
    invisibles: {}
    fontFamily: "\"consolas\""
    softWrap: true
    fontSize: 15
  "vim-mode":
    useClipboardAsDefaultRegister: true
  linter: {}
  "japanese-wrap":
    characterWidth: {}
  minimap: {}
  "autocomplete-plus":
    confirmCompletion: "enter"
