"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "linter-php"
    ]
  editor:
    fontFamily: "\"consolas\""
    fontSize: 15
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "be731577-5831-078d-1004-2f9f28b6f43d"
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  "linter-pep8": {}
  metrics:
    userId: "bb0dc28005fb552094e26c57366afedcda6c2986"
  minimap: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
