# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'body':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-shift-t': 'tree-view:toggle'
  'ctrl-0': 'tree-view:toggle-focus'
'atom-workspace':
  'g t': 'pane:show-next-item'
'atom-workspace atom-text-editor':
  'ctrl-l': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-j': 'unset!'
'atom-text-editor.vim-mode':
  'ctrl-c': 'unset!'
'atom-text-editor.vim-mode.normal-mode':
  'ctrl-t': 'unset!'
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-f': 'unset!'
'atom-text-editor.autocomplete-active':
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
